#tabuleiro {
	border-width: 1px;
	border-spacing: 2px;
	border-style: inset;
	border-color: gray;
	border-collapse: separate;
}
#tabuleiro td {
	padding-right: 5px;
	width: 95px;
	height: 100px;
	font: 15px "arial black";
	color: #fff;
	text-align: right;
	vertical-align: bottom;
    /* TO-DO: descobrir como mudar isso 
	background-image: url(taeyeon.jpg); */
	background-repeat: no-repeat;
}

.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8 {
	border-width: 1px;
	border-color: gray;
	border-style: outset;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.c1 {
	background-position: 0 0;
}
.c2 {
	background-position: -105px 0;
}
.c3 {
	background-position: -210px 0;
}
.c4 {
	background-position: 0 -105px;
}
.c5 {
	background-position: -105px -105px;
}
.c6 {
	background-position: -210px -105px;
}
.c7 {
	background-position: 0 -210px;
}
.c8 {
	background-position: -105px -210px;
}
.c9 {
	background-position: 5000px 5000px;
	border-style: none;
}